.container {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Corben", cursive;
}
img {
  display: block;
  margin: 0 auto;
}
form {
  margin: 20px 30px;
}
h1 {
  color: #31326f;
  text-align: center;
  background: #dbf6e9;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2 {
  font-size: 20px;
  color: #31326f;
  font-weight: 700;
  padding-bottom: 20px;
}
footer {
  text-align: center;
  color: #31326f;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  font-family: "Lobster Two", cursive;
}
a {
  text-decoration: none;
  color: #dbf6e9;
}
a:hover {
  color: #f07b3f;
}
.card {
  background-color: #9ddfd3;
  color: black;
  border: 1px solid #9ddfd3;
  border-radius: 20px;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
}
.sid .button {
  background-color: #ffc93c;
  border: 1px solid #ffc93c;
  border-radius: 30px;
  color: black;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
}

.forecast {
  border: 1px solid #31326f;
  background-color: #31326f;
  border-radius: 20px;
  padding: 25px;
}
.forecastcard {
  border: 1px solid #31326f;
  background-color: #31326f;
}
.report {
  border: 1px solid #9ddfd3;
  background-color: #9ddfd3;
  border-radius: 20px;
  color: #31326f;
  padding: 30px;
}
.date {
  font-size: 18px;
  line-height: 25px;
}
.place {
  font-size: 50px;
  font-family: "Lobster Two", cursive;
}
.box {
  text-align: center;
  border: 1px solid #31326f;
  background-color: #31326f;
  border-radius: 20px;
  color: #dbf6e9;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
  margin-top: 20px;
  padding: 20px;
  transition: all 150ms ease-in-out;
  cursor: default;
}
.box:hover {
  border: 1px solid rgb(49, 50, 111);
  color: rgb(49, 50, 111);
  background-color: rgb(255, 201, 60, 0.8);
}
.stat {
  color: #f07b3f;
  font-size: 45px;
  font-weight: 900;
  font-family: "Lobster Two", cursive;
}

.unit {
  position: relative;
  bottom: 25px;
}

.active {
  text-decoration: none;
  color: #f07b3f;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #f07b3f;
  cursor: default;
}

.sub {
  font-weight: 900;
  text-transform: capitalize;
}
.aqi,
.uv {
  font-weight: 900;
}
.aqi-explain,
.uv-explain {
  text-align: justify;
}

.future {
  text-align: center;
  background: #9ddfd3;
  border-radius: 20px;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
  /* margin: 20px 0 20px 0; */
  padding: 20px;
}
.future-each {
  transition: all 150ms ease-in-out;
  background-color: #dbf6e9;
  border-radius: 10px;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
  padding: 10px;
}
.future-each:hover {
  background-color: rgb(255, 201, 60, 0.8);
  border-radius: 10px;
  cursor: default;
}
.future-date {
  border-radius: 5px;
  color: #dbf6e9;
  font-weight: 600;
  background: #f07b3f;
  padding: 5px;
}
.future-icon {
  color: #31326f;
  font-size: 24px;
}
.future-temp {
  color: #31326f;
  font-size: 18px;
}
.other-temp {
  color: #31326f;
  font-size: 18px;
}
.current-others {
  text-align: center;
  background: #9ddfd3;
  border-radius: 20px;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
  margin: 20px 0 0 0;
  padding: 20px;
}
.current-row {
  margin: auto 5px 20px 5px;
}
.current-each {
  background-color: #dbf6e9;
  border-radius: 10px;
  padding: 3px 10px 10px 10px;
  box-shadow: rgba(77, 77, 88, 0.5) 0px 5px 5px 0;
}
.current-each:hover {
  background-color: rgb(255, 201, 60, 0.8);
  border-radius: 10px;
  cursor: pointer;
}

.cityimg {
  background-color: #31326f;
  border-radius: 10px;
  color: #dbf6e9;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
}
.social-btns {
  text-decoration: none;
}
.platform-icon {
  color: #31326f;
  font-size: 30px;
  margin: 10px;
}
.platform-icon:hover {
  color: #f07b3f;
}
